<div>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-bordered", alt: "avatar-bordered" %>
  <%# if message_user.unlock? %>
    <%# <i class="fas fa-play"></i>
  else
    <i class="fas fa-lock"></i>
  end %>
</div>
