.bottomnavbar{
  height: $bottomnavbar-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-shadow: 0px -5px 25px 0px rgba(0,0,0,0.35);
  background-color: white;


  .bottom-navbar-info {
    flex: 1 1 1%;
    p {
      margin-bottom: 0;
      padding: 0;
    }
  }

  .logoplus {
    width: 60px;
    height:auto;
  }
  .send_poner_btn {
    flex: 0 0 auto;
    position: relative;
    bottom: 20px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    padding: 3px;
    box-shadow: grey;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 255, 0.2);
    padding: 10px;
  }
  .dropdown {
    flex: 1 1 1%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .position-new-text {
    position: relative;
    bottom: 12px;
  }

  h4 {
    font-weight: bold;
  }
  .new-text {
    font-size: 16px;
    text-decoration: none;
  }
}
.bottom_navbar_content{
  display: flex;
}

// .send_poner_btn {
//   height: 80px;
//   width:auto;
//   border-radius: 50px;
//   box-shadow: 2 3 20px black;
//   color: #7BCFE0;
//   font-size: 78px;
//   vertical-align: auto;
// }

.navbar-brand img{
  height: 40px;
  width: auto;
}

.bottom_navbar_content{
  padding-bottom: 0px;
}

.addbackgroundunlocked{
  background-color: #FF97EA;
}
.addbackgroundlocked{
  background-color: #FAE183;
}

.fa-plus:before {
  width: 30px;
  height: auto;
}

.fa-long-arrow-alt-left:before {
  content: "\f30a";
  color: black;
  font-size: 40px;
}
