.btn {
  width: 80%;
  padding: 15px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.1s;
  background-size: 100% auto;
  background-color: #ff97eb;
  color: white;
  box-shadow: 2 3 20px rgb(248, 248, 248);
  border-radius: 10px;
  border: 3px solid #ffffff;
}


.btnN {
  width: 100%;
  padding: 15px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.1s;
  background-size: 100% auto;
  background-color: #ff97eb;
  color: white;
  box-shadow: 2 3 20px rgb(248, 248, 248);
  border-radius: 10px;
  border: 3px solid #ffffff;
  text-decoration: none;
}



.btn a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.btn-cadenas {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 60px;
  right: 10px;
  text-align: center;
  background-color: #FFE173;
  padding: 4px 0px;
  border-radius: 50%;
  font-size: 25px;
  color: black;
  border: 3px solid white;
}

.btn-lecture {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 130px;
  right: 10px;
  text-align: center;
  background-color: #ff97eb;
  padding: 5px 12px;
  border-radius: 50%;
  font-size: 25px;
  color: black;
  border: 3px solid white;
}

.btn-secondary-poner{
  padding: 15px 15px;
  text-align: center;
}

.btn-secondary-poner a {
  color:black;
  text-decoration: none;
}

.btn-circle-primary {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}

.btn-circle-secondary {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}

.profile {
  position: absolute;
  top: 30px;
  left: 10px;
}

.btn-circle .btn-lock {
  background-color: #FFE173;
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-circle .btn-play {
  background-color: #ff97eb;
  position: absolute;
  top: 10px;
  right: 50px;
}

.btn-circle .btn-list {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.btn-circle .btn-new {
  position: absolute;
  bottom: 10px;
  left: 170px;
}

.btn-circle .btn-geo {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.logo-status {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
  border-radius: 50%;
  left: -18px;
  top: 0px;
  border: 3px solid #ffffff;
  font-size: 14px;
  padding: 0px 6px;
}

.lock {
  background-color: #ffe173;
}

.play {
  background-color: #ff97eb;
  padding: 1px 7px;
}
