.btn {
  width: 230px;
  padding: 15px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.1s;
  background-size: 100% auto;

  background-color: #ff97eb;

  color: white;
  box-shadow: 2 3 20px rgb(248, 248, 248);
  border-radius: 10px;
  border: 8px solid #ffffff;
}
.btn a{
  color: white;
  font-weight: bold;
}

.btn-secondary-poner{
  padding: 15px 15px;
  text-align: center;
}

.btn-secondary-poner a {
  color:black;

}
