.btn {
  width: 230px;
  padding: 15px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.1s;
  background-size: 100% auto;
  background-color: blueviolet;
  color: white;
  box-shadow: 2 3 20px rgb(112, 134, 158);
  border-radius: 10px;
}

.btn-secondary-poner{
  padding: 15px 15px;
  text-align: center;
}

.btn-secondary-poner a {
  color:black;

}
