
.message-show {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.2);
}


.poner-popup {
  margin-left: 9px;
  margin-right: 9px;
  border-radius: 6px;
}

.light_icone {
  height: 50px;
  width: 50px;
  color: #FAE183;
  position: absolute;
  font-size: 35px;
  top: 195px;
}




.locked-message {

  text-align: center;

  .swal2-popup {
    color: white;
    width: 379px;
    height: 520px;
    left: 6px;
    top: 149px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    position: sticky;
  }

  .title {
    font-weight: bold;
    font-size: 20px;
  }


  .btn {
    margin-bottom: 20px;
  }

   .avatar-bordered {
    // position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    border: white 2px solid;
    vertical-align: middle;
    margin-top: 6px;
    margin-left: -40px;
    position: absolute;

    // margin-top: -80px;
   }

   .congrats {
    // position: absolute;
    height: 100px;
    background: #ffe173;
    color: black;
    font-size: 1.125em;
    font-weight: bolder;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #FFFFFF;
    padding-top: 35px;
    margin-top: 55px;
    // margin-left: 60px;
    // top: 40px;
  }
  .congratsbis {
    font-size: 10px;
    color: black;
  }

  .locked-hint {
    color: black;
    background: #FFFFFF;
    box-shadow: 0px 1px 23px rgba(250, 225, 131, 0.28);
    border-radius: 3px;
    // position: absolute;
    width: auto;
    // height: 62px;
    left: 59px;
    top: 260px;
  }


  .pin_icone {
    color: white;
    background-color: #FAE183;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 50px;
    align-items: center;
    border: 1px solid;
    position: absolute;
    top: 305px;
    left: 145px;

    .locked-icon.fas.fa-map-marker-alt{
      position: absolute;
      width: 88px;
      height: 88px;
      left: 148px;
      top: 374px;
      background: #FAE183;
      font-size: large;

      // .fas.fa-map-marker-alt {
      //   display: flex;
      //   justify-content: center;
      //   text-align: center;
      //   // position: absolute;
      //   // left: 44.36%;
      //   // right: 45.81%;
      //   // top: 48.46%;
      //   // bottom: 45.24%;
      //   border: 2px solid #000000;
      // }
    }
  }

  .message-location {
    font-size: 20px;
    color: white;
    border: 1px solid;
    padding: 10px;
    border-radius: 6px;
  }

  .hrefmessage1 {
    color: white;
    text-decoration: none;
    margin-top: 40px;
  }

  .hrefmessage2 {
    color: white;
    text-decoration: none;
    margin-top: 130px;
  }

}