.mapboxgl-popup-content{

    /* position: relative; */
    opacity: 0.9;
    height: 93vh;
    width: 43vh;
    align-self: center;
    background-color: black;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    .message-show.info-window {
      background-size: cover;
      height: 100%;
    }
}

.poner-popup {
  top: -170px;
  z-index: 500;

}


.mapboxgl-popup-tip {
  display:none;
}

.btninfowindow{
  display: flex;
}

.message-show.info-window {
  width: unset;
  height: unset;
  .bubble_messages .message-show__bubble-message{
    width: 100%;
  }
}
