.poner-popup {
  background-color: rgba(0,0,0,0.9);
  top: 1em;
  z-index: 500;
  transform: none !important;
  bottom: 50px;
  right: 1em;
  left: 1em;
  border-radius: 10px;
  position: unset;
  .mapboxgl-popup-content {
    background-color: transparent;
    height: 100%;
    padding: 0;
    .message-show.info-window {
      background-size: cover;
    }
  }
}


.mapboxgl-popup-tip {
  display:none;
}

.btninfowindow{
  display: flex;
}

.message-show.info-window {
  width: unset;
  .bubble_messages .message-show__bubble-message{
    width: 100%;
  }
}
