// message unlocked

.message_locked {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.message_unlocked {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.message-show {
  z-index: 0;
  //width: 100vw;
  //height: 100vh;
  //background-color: rgba(0, 0, 0, 0.600);
  //background-position: center;
  //background-size: contain;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  // align-items: center;


  .avatar-bordered {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: #ffffff52 1px solid;
    margin-left: 10px;
    margin-right: 7px;
  }
}

.message-show__title {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  z-index: 11221;
  margin-top: 10%;
  //width: 100%;
  //position: relative;
  //margin-left: -5%;
  //margin-top: -13%;

  p {
    margin-bottom: 0;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    font-size: 18px;
    font-weight: bold;
  }
}

//.bubble_messages {

  .message-show__bubble-message {
//    position: absolute;
//    top: 130px;
//    left: 28px;
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.33);
    padding: 5px 10px;
    font-size: 1.25em;
    border-radius: 10px;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    width: 95vw;
    margin-top: 10%;
    //margin-bottom: 15px;
    //margin-top: -10%;
    //margin-left: -5%;
    p {
      margin-bottom: 0;
      font-size: 18px;
    }
  }
//}

.message-content {
  position: relative;
  &:before {
    // layout
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 0.5em;
    border: .75rem solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
  }
}

@media (min-width: 1281px) {

}

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 481px) and (max-width: 767px) {

}

@media (min-width: 320px) and (max-width: 480px) {

}


// message locked
