    <div class="title">🎉 CONGRATS 🎉</div>

        <%= image_tag "#{message_user.message.user.first_name}_#{message_user.message.user.last_name}.png", class:'avatar-bordered', alt:'avatar-bordered'%>

        <div class="congrats">
            <p> <%= message_user.message.user.first_name %>'s Pon is now UNLOCKED !</p>

        </div>

        <div class="blocswalread">

            <div class="swalbutton">
             <%= link_to message_user_path(message_user), class: "btn btn-light btn-circle-secondary btn-play", method: :patch do %>
                    <i class="fas fa-play"></i>
             <% end %>
            </div>


            <div class="read">
                <%= link_to "READ MESSAGE",  message_user_path(message_user), class: "hrefmessage", method: :patch %>
            </div>

        </div>

        
