<div class= "mapboxgl-popup-content">
  <div class= "container">
    <div class= "profilepic">
    photo
      <%= %>
    </div>
    <div class= "name">
    nom
      <%= %>
    </div>
    <div class="address">
    address
      <%= %>
    </div>
    <div class="hint">
    indice
      <%= %>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Supprimer</button>
        <button type="button" class="btn btn-primary">Itinéraire</button>
      </div>
  </div>
</div>
