<div data-controller="avatar-click" data-action="click->avatar-click#enable">
  <%= image_tag 'https://kitt.lewagon.com/placeholder/users/sarahlafer', class:'avatar-bordered', alt:'avatar-bordered'%>
</div>
